.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-custom {
  /* background-color: cornsilk; */
  padding: 30px;
  /* margin-top: 30px; */
}
.col-custom {
  background-color: antiquewhite;
  text-align: left;
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
}
.h5-custom {
  text-indent: 10px;
}
.h3-custom {
  padding-bottom: 5px;
  color: blue;
}
.row-custom {
  padding: 20px;
}
.row-custom-left {
  text-align: left;
}
#info {
  display: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
